html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Verdana','Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #ed702a;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #ed702a;
    outline: none;
}

a:hover,
a:focus {
    color: #eb3812;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}
#cycleThis{
    font-family: aller;
    font-weight: bold;
    svg {
        width: 50%;
    }
    li {
        display: none;
        font-size: 26px;
        list-style: none;
        text-shadow: 1px 2px rgba(0,0,0,.3);
    }
}

.bg-portfolio {
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.work {
    background-image: url('img/bg_work.jpg');
}
.cases {
    background-image: url('img/bg_case.jpg');
}
.contact {
    background-image: url('img/bg_contact.jpg');
    background-position: top;
}
.bg-primary {
    background-color: #030304;
    fill: #030304;
}

.paragraph-times {
    font-size: 14px;
    font-family: Georgia, Serif;
}
.font-title, .page-title, .page-sub-title {
    font-family: 'capricorn';
}
.page-title {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.page-title, .page-sub-title {
    color: #FFF;
    text-align: center;
    text-transform: UPPERCASE;
    margin: 80px 0 0 0 ;
    padding: 0;
    line-height: 0.7;
}
.page-sub-title {
    margin: 0;
    padding: 0;
}

.bg-light {
    background-color: #FFF;
    fill: #FFF;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 80px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}
.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.header-logo{
    height: 60px;
    padding: 10px 0 15px;
}

.navbar-default {
    border: none;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color: #ed702a;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #ed702a;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #ed702a!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}
.about-short {
    margin-top: 40px;
}
@media(min-width:768px) {    
    .navbar-right {
        margin-top: 3px;
    }
    .navbar-default {
        background: rgba(0,0,0,.5);
        vertical-align: bottom;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #ed702a;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #ed702a;
    }
}

.curved-border {
    position: absolute;
    width: 104%;
    margin-left: -2%;
	left: 0;
    bottom: -1px;
}
.logo-cut {
    height: 4%;
}


.logo-border {
	position: absolute;
	bottom: 0;
}
.logo-border path {
	width: 100%;
	height: 100%;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
	overflow: hidden;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 500px;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
    img {
        display: inline-block;
        height: 100px;
        vertical-align: bottom;
        margin-left: 10px;
    }
    h3 {
        display: inline-block;
        color: #ed702a;
    }
}

@media(min-width:992px) {
    .about-short {
        margin: 0;
    }
    .about-properties {
        height: 280px;
    }
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
	font-size: 12px;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #ed702a;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #ed702a;
    color: #fff;
    background-color: #ed702a;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #ed702a;
    background-color: #ed702a;
}

.btn-primary .badge {
    color: #ed702a;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

video {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 80%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#cycleThis svg path{
    transition: fill 4s ease;
}

.showBubo path{
    fill: #000;
}

/* Portfolio */
.portfolio-image {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}
#portfolio {
    position: relative;
}
.bg-light .portfolio-item{
    border-color: #FFF;
}
.portfolio-item {
    transition: all 300ms ease-in-out;
    background: rgba(200,200,200,1);
    background: radial-gradient(ellipse at center, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 26%, rgba(160,160,160,1) 76%, rgba(130,130,130,1) 100%);
    height: 200px;
    text-align: center;
    border-right: solid 1px #030304;
    border-top: solid 1px #030304;
    img {
        transition: all 300ms ease-in-out;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 140px;
        max-height: 90px;
        opacity: 0.6;
    }
    h2 {
        text-transform: capitalize;
        color: #FFF;
        vertical-align: middle;
        display: table-cell;
        padding: 0;
        margin: 0;
    }
    .title_container {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 2;
        left: 0;
        top: 0;
        display: table;
    }
}
.portfolio-link:hover .portfolio-item {
    background: rgba(255,255,255,1);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(200,200,200,1) 76%, rgba(180,180,180,1) 100%);
    img {
        opacity: 1;
    }
}
.portfolio-bg {
    background: rgba(69,68,69,1);
    background: radial-gradient(ellipse at center, rgba(69,68,69,1) 0%, rgba(46,46,46,1) 100%);
    width: 100%;
    height: 255px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.filler {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}
.curved-top {
    position: absolute;
    top: -1px;
}
.curved-bottom {
    position: absolute;
    bottom: 1px;
    transform: translateY(+100%);
}

.divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #030304;
}

.divider:before {
    content: "";
    background-color: #030304;
    height: 1px;
    display: block;
    top: -1px;
    position: relative;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
}

/* Frontpage bottom */
section:last-child {
    background: red;
}
#contact {
    position: relative;
    padding-top: 40px;
    a {
        color: #FFF;
    }
    span {
        color: #ed702a;
    }
    img {
        width: 10%;
    }
    .container-img {
        display: table-cell;
        width: 40px;
        margin-right: 20px;
        float: left;
        img {
            width: 100%;
        }
    }
    .container-content {
        display: table-cell;
        width: auto;
    }
}
#contact:before {
    content: "";
    background-color: black;
    height: 1px;
    display: block;
    top: -1px;
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 90%);
}
.logo-cut-bottom {
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    transform: translateY(-98%);
}

h4 {
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
}

/* Portfolio item */
.portfolio-content {
    position: relative;
    padding-bottom: 255px;
}

.portfolio-title {
    font-family: aller;
    font-size: 22px;
    font-weight: bold;
    span {
        font-weight: 100;
    }
}

.slider {
    text-align: center;
    margin-bottom: 100px;
}

.carousel li.slick-slide {
    img {
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        width: 265px;
    }
}
.carousel .slick-center {
    opacity: 1;
}
.carousel .nextslide {
    opacity: .3;
}
.slick-arrow {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 54px;
    background: none;
    background-image: url('images/controls.png');
    border: none;
}
.slick-prev {
    top: 50%;
    left: 33%;
    transform: translate(0,-50%);
}
.slick-next {
    top: 50%;
    right: 33%;
    background-position: 100%;
    transform: translate(100%,-50%);
}
.carousel li.slick-slide .zoom {
    transition: opacity .3s ease-in-out;
    opacity: 0;
    width: 80px;
    z-index: 999;
    display: none;
}
.carousel li.slick-center .zoom {
    opacity: 1;
    display: inline-block;
}

.portfolio-link {
    display: block;
}

.carousel li {
    transition: opacity .3s ease-in-out;
    opacity: .05;
    position: relative;
    img {
        top: 0;
        left: 0;
        position: absolute;
    }
    span {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        left: 0;
        top: 0;
    }
}
.carousel li:before {
    content: "";
    display: block;
    padding-top: 100%;

}

/* Contact */
.team {
    h2 {
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 0;
    }
    .thijs {
        text-align: right;
    }
    .subtitle {
        color: #ed702a;
        display: block;
    }
    .portrait {
        background-image: url('img/logo_portrait.svg');
        padding-bottom: 100%;
        background-size: cover;
    }
    .thijs .portrait {
        background-image: url('img/thijs.jpg');
    }
    .ben .portrait {
        background-image: url('img/ben.jpg');
    }
    p {
        margin: 0;
    }
    .linkedin {
        width: 20px;
    }
}

/* Bootstrap overrides */
